$primary-color: #FF9055;

.primary-bg, .social-1 li a:hover, .collapsible.style-1 .collapsible-header.active {
  background-color: $primary-color;
}

[class*='style']:hover > .icon, [class*='style']:hover > h4 {
  color: $primary-color !important;
}

[class*='style']:hover .sep {
  background-color: $primary-color;
}


.is-sticky .site-logo img {
  height: 56px;
}

.site-logo img {
  height: 72px;
}


@media only screen and (max-width: 767px) {
  .site-logo img {
    height: 56px;
  }

}